.App {
  text-align: center;
  padding: 20px;
}
.kpi-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.kpi {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.dashboard-flex > div:first-child {
  flex: 0 0 30%;
  max-width: 30%;
}

.dashboard-flex > div:last-child {
  flex: 0 0 70%;
  max-width: 70%;
}
